html, body, a, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* now 1.5rem = 15px */
}

a {
  text-decoration: none;
  color: inherit;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Sora-Variable';
  src: url("../fonts/Sora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-Bold';
  src: url("../fonts/static/Sora-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-ExtraBold';
  src: url("../fonts/static/Sora-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-ExtraLight';
  src: url("../fonts/static/Sora-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-Light';
  src: url("../fonts/static/Sora-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-Medium';
  src: url("../fonts/static/Sora-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-Regular';
  src: url("../fonts/static/Sora-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-SemiBold';
  src: url("../fonts/static/Sora-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-Thin';
  src: url("../fonts/static/Sora-Thin.ttf") format("truetype");
}

:root {
  --clr-main:        rgb(15, 15, 15);
  --clr-secondary:   rgb(255, 179, 66);
  --clr-accent:      rgb(28, 197, 141);
  --clr-grey:        rgb(127, 127, 127);
  --clr-darkGrey:    rgb(36, 36, 36);
  --clr-null:        rgb(56, 83, 77);
  --clr-white:       rgb(255, 255, 255);
  --clr-black:       rgb(0, 0, 0);
  --clr-error:       rgb(209, 30, 30);
  --clr-success:     rgb(2, 189, 2);
  --font-main: 'OpenSans-Regular';
  --fontS-error: 1.2em;
  --loginCard-Hsize: 70rem;
  --loginCard-Wsize: 40rem;
}

html {
  background-color: var(--clr-black);
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: var(--clr-white);
  font-family: var(--font-main);
  font-weight: bold;
  margin: 1rem;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container h3 {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-family: var(--font-main);
  color: var(--clr-white);
}

.container .loginCard, .container .testDiv {
  position: relative;
  height: var(--loginCard-Hsize);
  width: var(--loginCard-Wsize);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: solid 1px var(--clr-secondary);
  border-radius: calc(var(--loginCard-Wsize)/2);
}

.container .loginCard div, .container .testDiv div {
  cursor: pointer;
  font-size: 2rem;
  font-family: var(--font-main);
  color: var(--clr-white);
  width: 14rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  background-color: var(--clr-null);
  border-radius: 7rem;
  border: 0.3rem solid var(--clr-secondary);
  overflow: hidden;
}

.container .loginCard div p, .container .testDiv div p {
  font-size: 1.3rem;
}

.container .loginCard div img, .container .testDiv div img {
  width: 100%;
}

.container .loginCard::after {
  content: "";
  position: absolute;
  top: -.05rem;
  left: -.05rem;
  z-index: -1;
  height: var(--loginCard-Hsize);
  width: var(--loginCard-Wsize);
  border: solid 1px var(--clr-secondary);
  border-radius: calc(var(--loginCard-Wsize)/2);
  -webkit-filter: brightness(1) sepia(1) hue-rotate(130deg) saturate(100);
          filter: brightness(1) sepia(1) hue-rotate(130deg) saturate(100);
  opacity: 0.2;
  background-image: url("../images/patternWhite.svg");
}

.container .modal {
  display: none;
  z-index: 2;
  position: absolute;
  top: 35%;
}

.container .modal p {
  color: var(--clr-white);
  font-family: var(--font-main);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.container .modal #modal-content {
  background-color: var(--clr-darkGrey);
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 2rem;
  border: 0.2rem solid var(--clr-secondary);
}

.container .modal img {
  border-radius: .3rem;
  margin: .5rem;
}

.container .modal img:hover {
  cursor: pointer;
  outline: 0.3rem solid var(--clr-secondary);
}

form {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form p {
  width: 30rem;
}

input, select, button {
  font-size: 1.5rem;
  color: var(--clr-white);
  font-family: var(--font-main);
  padding: 1rem;
  width: 30rem;
  min-height: 3rem;
  background-color: var(--clr-null);
  border-radius: .6rem;
  border: none;
  outline: none;
}

::-webkit-input-placeholder, select {
  color: var(--clr-white);
  font-size: 1.4rem;
}

:-ms-input-placeholder, select {
  color: var(--clr-white);
  font-size: 1.4rem;
}

::-ms-input-placeholder, select {
  color: var(--clr-white);
  font-size: 1.4rem;
}

::placeholder, select {
  color: var(--clr-white);
  font-size: 1.4rem;
}

input[type=submit], button {
  cursor: pointer;
  padding: 0;
  width: 10rem;
  margin: 1rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

input[type=submit]:hover, button:hover {
  background-color: var(--clr-accent);
}

.errorInputMsg {
  position: absolute;
  -webkit-transform: translateY(3.5rem) translateX(-20rem);
          transform: translateY(3.5rem) translateX(-20rem);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--clr-error);
  font-size: var(--fontS-error);
  font-weight: bold;
  font-family: var(--font-main);
}

.successMessage {
  margin-left: 0.6rem;
  color: var(--clr-success);
  font-size: var(--fontS-error);
  font-weight: bold;
  font-family: var(--font-main);
}

.failedMessage {
  color: var(--clr-error);
  font-size: var(--fontS-error);
  font-weight: bold;
  font-family: var(--font-main);
}

.errorField {
  border: solid .2rem;
  border-color: var(--clr-error);
}

.successField {
  border: solid .2rem;
  border-color: var(--clr-success);
}

.testDiv {
  position: absolute;
  z-index: 10;
  color: var(--clr-white);
  font-size: 5rem;
  font-family: var(--font-main);
  text-align: center;
}
