// * ========================== | Import |  ==========================
@import "./libs/reset.scss";
@import "./libs/fonts.scss";

// * ========================== | Setup Var |  ==========================
:root{
    // --clr-main:        rgb(119, 137, 175);
    --clr-main:        rgb(15, 15, 15);
    --clr-secondary:   rgb(255, 179, 66);
    --clr-accent:      rgb(28, 197, 141);
    --clr-grey:        rgb(127, 127, 127);
    --clr-null:        rgb(56, 83, 77);
    --clr-white:       rgb(255, 255, 255);
    --clr-black:       rgb(0, 0, 0);
    --clr-error:       rgb(209, 30, 30);
    --clr-success:     rgb(2, 189, 2);

    --font-main: 'OpenSans-Regular';
    --fontS-error: 1.2em;
    --loginCard-Hsize: 70rem;
    --loginCard-Wsize: 40rem;
}


@mixin flex--center { 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;  
}
// @include  flex--center;
// font-family: var(--font-main);

// * ========================== | Html & Body |  ==========================
html{
    background-color: var(--clr-black);

}

h2 {
    text-align: center;
    font-size:3rem;
    color: var(--clr-white);
    font-family: var(--font-main);
    font-weight: bold;
    margin: 1rem;
}



// * ========================== | Section N°1 & loginCard |  ==========================
.container{
    position: relative;
    z-index: 1;
    display: grid;
    max-width: 100%;
    height: 100vh;
    align-content:   center;
    align-items:     center;
    justify-content: center;
    justify-items:   center;

}
.loginCard, .testDiv{
    position: relative;
    height: var(--loginCard-Hsize);
    width:  var(--loginCard-Wsize);
    display: grid;
    margin:  auto;
    gap: 1rem;
    align-content:   center;
    justify-content: center;
    justify-items:   center;
    border: solid 1px var(--clr-secondary);
    border-radius: calc(var(--loginCard-Wsize)/2);
    div{
        margin: auto;
        margin-bottom: 5rem;
        background-color: var(--clr-accent);
        border-radius: 1rem;
        width: 15rem;
        aspect-ratio: 1;
    }
}
.loginCard::after{
    content: "";
    position: absolute;
    top:  -.05rem;
    left: -.05rem;
    z-index: -1;  
    height: var(--loginCard-Hsize);
    width:  var(--loginCard-Wsize);
    

    border: solid 1px var(--clr-secondary);
    border-radius: calc(var(--loginCard-Wsize)/2);
    filter: brightness(1) sepia(1) hue-rotate(130deg) saturate(100);
    opacity: 0.2;
    background-image: url("../images/patternWhite.svg");
    // background-color: var(--clr-main);
}


// * ========================== | Form Login |  ==========================
form{
    grid-template-areas:
        "pictureProfile pictureProfile"
        "pseudo pseudo"
        "firstName firstName"
        "lastName lastName"
        "gender gender"
        "email email"
        "errorMsgEmail errorMsgEmail"
        "password password"
        "errorMsgPassword errorMsgPassword"
        "signIn signUp";

    #errorMsgEmail    { grid-area: errorMsgEmail;}
    #errorMsgPassword { grid-area: errorMsgPassword;}
    .case0 { grid-area: pictureProfile; font-size: 2rem; display:flex;text-align: center;align-items: center; justify-content: center; cursor: pointer;}
    .case1 { grid-area: pseudo;   }
    .case2 { grid-area: firstName;}
    .case3 { grid-area: lastName;  }
    .case4 { grid-area: gender;  }
    .case5 { grid-area: email;   }
    .case6 { grid-area: password;}
    .case7 { grid-area: signIn;  }
    .case8 { grid-area: signUp;  }

    width: 30rem;

    display: grid;
    gap: 1rem;
    align-items:   center;
    justify-items: center;
}
input, select, button {
    font-size: 2rem;
    color: var(--clr-white);
    font-family: var(--font-main);
    
    padding: 1rem;
    width:  30rem;
    height: 3.5rem;
    
    background-color: var(--clr-null);
    border-radius: .6rem;
    border:  none;
    outline: none;
}
::placeholder, select{
    color: var(--clr-white);
    font-size: 1.4rem;
}
input[type=submit], button{
    cursor: pointer;
    padding: 0;
    width: 10rem;
    transition: all 0.4s;
}
input[type=submit]:hover, button:hover{
    background-color: var(--clr-accent);
}
   

form :is(#errorMsgEmail, #errorMsgPassword) {
    width: 30rem;
    display: grid;
    align-items:unset;
    justify-items: unset;
}

// * ========================== | Form Error Msg |  ==========================
.errorInputMsg{
    position:    absolute;
    transform:   translateY(3.5rem) translateX(-20rem);
    width:       fit-content;
    color:       var(--clr-error);
    font-size:   var(--fontS-error);
    font-weight: bold;
    font-family: var(--font-main);
}    
.successMessage{
    margin-left: 0.6rem;
    color:       var(--clr-success);
    font-size:   var(--fontS-error);
    font-weight: bold;
    font-family: var(--font-main);
}
.failedMessage{
    // margin-left: 0.6rem;
    color:       var(--clr-error);
    font-size:   var(--fontS-error);
    font-weight: bold;
    font-family: var(--font-main);
}
.errorField{
    border: solid .2rem;
    border-color: var(--clr-error);
}
.successField{
    border: solid .2rem;
    border-color: var(--clr-success);
}

.testDiv{ 
    position: absolute;
    z-index: 10;
    // background-color: var(--clr-secondary);
    color:       var(--clr-white);
    font-size: 5rem;
    font-family: var(--font-main);
    text-align: center;
    
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 4rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    & #modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 1rem;
        border: 10px solid #888;
        width: 80%;
        & p#win{
            display: none;
            text-align: center;
            font-size: 2.5rem;
        }
        & p#lose{
            display: none;
            text-align: center;
            font-size: 2.5rem;
        }
        & p#theWord{
            text-align: center;
            font-size: 1.8rem;
            padding-top: 1rem;
        }
        & p#titleAllWord{
            text-align: center;
            font-size: 1.5rem;
            padding-top: 4rem;
        }
        & .containerFlex {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            padding-top: 2.5rem;
            color:white;
            font-size:1.5rem;
            text-align: center;
            .pictureChoose {
                cursor: pointer;
            }
            & #flagEn {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
                width: 12rem;
                height: 7.5rem;
                background-image: url("../img/en.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
            }
            & #flagFr {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
                width: 12rem;
                height: 7.5rem;
                background-image: url("../img/fr.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
            }
            & #flagNl {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
                width: 12rem;
                height: 7.5rem;
                background-image: url("../img/nl.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
            }
            & #flagDe {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
                width: 12rem;
                height: 7.5rem;
                background-image: url("../img/de.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
            }
            & #flagIt {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
                width: 12rem;
                height: 7.5rem;
                background-image: url("../img/it.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
            }
            & .wordAfterGame {
                background-color: #222222C0;
                border-radius: 50%;
                padding:0.4rem;
            }
        }
        & .putTheButton {
            text-align: center;
            margin-top: 4rem;
            margin-bottom: 4rem;
            & #replay {
                text-decoration: none;
                color:black;
                font-size: 2rem;
                padding: 1.5rem;
                border-radius: 50%;
                background-color: #CCCCCC;
                border:solid 1px black;
            }
        }
    }
}
