html, body, a, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* now 1.5rem = 15px */
}

a {
  text-decoration: none;
  color: inherit;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Sora-Variable";
  src: url("../fonts/Sora-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Sora-Bold";
  src: url("../fonts/static/Sora-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Sora-ExtraBold";
  src: url("../fonts/static/Sora-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Sora-ExtraLight";
  src: url("../fonts/static/Sora-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Sora-Light";
  src: url("../fonts/static/Sora-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Sora-Medium";
  src: url("../fonts/static/Sora-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Sora-Regular";
  src: url("../fonts/static/Sora-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Sora-SemiBold";
  src: url("../fonts/static/Sora-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Sora-Thin";
  src: url("../fonts/static/Sora-Thin.ttf") format("truetype");
}
:root {
  --clr-main: rgb(15, 15, 15);
  --clr-secondary: rgb(255, 179, 66);
  --clr-accent: rgb(28, 197, 141);
  --clr-grey: rgb(127, 127, 127);
  --clr-null: rgb(56, 83, 77);
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-error: rgb(209, 30, 30);
  --clr-success: rgb(2, 189, 2);
  --font-main: "OpenSans-Regular";
  --fontS-error: 1.2em;
  --loginCard-Hsize: 70rem;
  --loginCard-Wsize: 40rem;
}

html {
  background-color: var(--clr-black);
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: var(--clr-white);
  font-family: var(--font-main);
  font-weight: bold;
  margin: 1rem;
}

.container {
  display: grid;
  max-width: 100%;
  height: 100vh;
}

.loginCard {
  position: relative;
  height: var(--loginCard-Hsize);
  width: var(--loginCard-Wsize);
  display: grid;
  margin: auto;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  justify-items: center;
  border: solid 1px var(--clr-secondary);
  border-radius: calc(var(--loginCard-Wsize)/2);
}
.loginCard div {
  margin: auto;
  margin-bottom: 5rem;
  background-color: var(--clr-accent);
  border-radius: 1rem;
  width: 15rem;
  aspect-ratio: 1;
}

.loginCard::after {
  content: "";
  position: absolute;
  top: -0.05rem;
  left: -0.05rem;
  z-index: -1;
  height: var(--loginCard-Hsize);
  width: var(--loginCard-Wsize);
  border: solid 1px var(--clr-secondary);
  border-radius: calc(var(--loginCard-Wsize)/2);
  filter: brightness(1) sepia(1) hue-rotate(130deg) saturate(100);
  opacity: 0.2;
  background-image: url("../images/patternWhite.svg");
}

.signInForm {
  grid-template-areas: "pseudo pseudo" "password password" "signIn signUp";
}
.signInForm .case1 {
  grid-area: pseudo;
}
.signInForm .case2 {
  grid-area: password;
}
.signInForm .case3 {
  grid-area: signIn;
}
.signInForm .case4 {
  grid-area: signUp;
}

.signUpForm {
  grid-template-areas: "email email" "password password" "signIn signUp";
}
.signUpForm .case2 {
  grid-area: email;
}
.signUpForm .case3 {
  grid-area: password;
}
.signUpForm .case4 {
  grid-area: signIn;
}
.signUpForm .case5 {
  grid-area: signUp;
}

form {
  width: 30rem;
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}
form input, form select, form button {
  font-size: 2rem;
  color: var(--clr-white);
  font-family: var(--font-main);
  padding: 1rem;
  width: 30rem;
  height: 3.5rem;
  background-color: var(--clr-null);
  border-radius: 0.6rem;
  border: none;
  outline: none;
}
form ::placeholder {
  color: var(--clr-white);
}
form input[type=submit], form button {
  cursor: pointer;
  padding: 0;
  width: 10rem;
  transition: all 0.4s;
}
form input[type=submit]:hover, form button:hover {
  background-color: var(--clr-accent);
}

.errorInputMsg {
  position: absolute;
  transform: translateY(3.5rem) translateX(-20rem);
  width: fit-content;
  color: var(--clr-error);
  font-size: var(--fontS-error);
  font-weight: bold;
  font-family: var(--font-main);
}

.successMessage {
  margin-left: 0.6rem;
  color: var(--clr-success);
  font-size: var(--fontS-error);
  font-weight: bold;
  font-family: var(--font-main);
}

.failedMessage {
  color: var(--clr-error);
  font-size: var(--fontS-error);
  font-weight: bold;
  font-family: var(--font-main);
}

.errorField {
  border: solid 0.2rem;
  border-color: var(--clr-error);
}

.successField {
  border: solid 0.2rem;
  border-color: var(--clr-success);
}

/*# sourceMappingURL=style.css.map */
