// * ========================== | Import |  ==========================
@import "./libs/reset.scss";
@import "./libs/fonts.scss";

// * ========================== | Setup Var |  ==========================
:root{
    // --clr-main:        rgb(119, 137, 175);
    --clr-main:        rgb(15, 15, 15);
    --clr-secondary:   rgb(255, 179, 66);
    --clr-accent:      rgb(28, 197, 141);
    --clr-grey:        rgb(127, 127, 127);
    --clr-darkGrey:    rgb(36, 36, 36);
    --clr-null:        rgb(56, 83, 77);
    --clr-white:       rgb(255, 255, 255);
    --clr-black:       rgb(0, 0, 0);
    --clr-error:       rgb(209, 30, 30);
    --clr-success:     rgb(2, 189, 2);

    --font-main: 'OpenSans-Regular';
    --fontS-error: 1.2em;
    --loginCard-Hsize: 70rem;
    --loginCard-Wsize: 40rem;
}


@mixin flex--center { 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;  
}
// @include  flex--center;
// font-family: var(--font-main);

// * ========================== | Html & Body |  ==========================
html{
    background-color: var(--clr-black);
}

h2 {
    text-align: center;
    font-size:3rem;
    color: var(--clr-white);
    font-family: var(--font-main);
    font-weight: bold;
    margin: 1rem;
}


// * ========================== | Section N°1 & loginCard |  ==========================
.container{
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: 100vh;

    display: grid;
    justify-items: center;
    align-content: center;

    h3{
        margin-bottom: 3rem;
        font-size:2rem;
        font-family: var(--font-main);
        color: var(--clr-white);
    }

    .loginCard, .testDiv{
        position: relative;
        height: var(--loginCard-Hsize);
        width:  var(--loginCard-Wsize);
        display: grid;
        justify-items: center;
        align-content: center;
        border: solid 1px var(--clr-secondary);
        border-radius: calc(var(--loginCard-Wsize)/2);
        div{
            p{
                font-size: 1.3rem;
            }
            cursor: pointer;
            font-size: 2rem; 
            font-family: var(--font-main);
            color: var(--clr-white);

            width: 14rem;
            aspect-ratio: 1;

            display:flex;
            text-align: center;
            align-items: center; 
            justify-content: center; 

            
            margin-bottom: 2rem;
            background-color: var(--clr-null);
            border-radius: 7rem;
            border:.3rem solid var(--clr-secondary);
            overflow: hidden;
            
            img{
                width: 100%;
            }
        }
    }
    .loginCard::after{
        content: "";
        position: absolute;
        top:  -.05rem;
        left: -.05rem;
        z-index: -1;  
        height: var(--loginCard-Hsize);
        width:  var(--loginCard-Wsize);
        

        border: solid 1px var(--clr-secondary);
        border-radius: calc(var(--loginCard-Wsize)/2);
        filter: brightness(1) sepia(1) hue-rotate(130deg) saturate(100);
        opacity: 0.2;
        background-image: url("../images/patternWhite.svg");
        // background-color: var(--clr-main);
    }
    // * ========================== | Div Profile picture |  ==========================
    .modal {
        display: none;
        z-index: 2;
        position: absolute;
        top: 35%;
        p{
            color: var(--clr-white);
            font-family: var(--font-main);
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        & #modal-content {
            background-color: var(--clr-darkGrey);
            margin: 0 auto;
            padding: 1.5rem;
            border-radius: 2rem;
            border: .2rem solid var(--clr-secondary);
        }
        img{
            border-radius: .3rem;
            margin: .5rem;
        }
        img:hover{
            cursor: pointer;
            outline: .3rem solid var(--clr-secondary);
        }
    }
}

// * ========================== | Form Login |  ==========================
form{
    width: 30rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center; 

    p{
        width: 30rem;
    }
}
    input, select, button {
        font-size: 1.5rem;
        color: var(--clr-white);
        font-family: var(--font-main);
        
        padding: 1rem;
        width:  30rem;
        min-height: 3rem;
        
        background-color: var(--clr-null);
        border-radius: .6rem;
        border:  none;
        outline: none;
    }
    ::placeholder, select{
        color: var(--clr-white);
        font-size: 1.4rem;
    }
    input[type=submit], button{
        cursor: pointer;
        padding: 0;
        width: 10rem;
        margin: 1rem;
        transition: all 0.4s;
    }
    input[type=submit]:hover, button:hover{
        background-color: var(--clr-accent);
    }


// * ========================== | Form Error Msg |  ==========================
.errorInputMsg{
    position:    absolute;
    transform:   translateY(3.5rem) translateX(-20rem);
    width:       fit-content;
    color:       var(--clr-error);
    font-size:   var(--fontS-error);
    font-weight: bold;
    font-family: var(--font-main);
}    
.successMessage{
    margin-left: 0.6rem;
    color:       var(--clr-success);
    font-size:   var(--fontS-error);
    font-weight: bold;
    font-family: var(--font-main);
}
.failedMessage{
    // margin-left: 0.6rem;
    color:       var(--clr-error);
    font-size:   var(--fontS-error);
    font-weight: bold;
    font-family: var(--font-main);
}
.errorField{
    border: solid .2rem;
    border-color: var(--clr-error);
}
.successField{
    border: solid .2rem;
    border-color: var(--clr-success);
}

.testDiv{ 
    position: absolute;
    z-index: 10;
    // background-color: var(--clr-secondary);
    color:       var(--clr-white);
    font-size: 5rem;
    font-family: var(--font-main);
    text-align: center;
    
}

